/* page Index */
/* index background */
.index {
    background-color: #B8DAEE;
}

.formulaire {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 90%;
    margin-top: 10%;
}

/* Nav Bar */
.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #0F273B;
}

.nav-item {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: white !important;
}
  
.text h1 {
color: white;
margin: 0;
font-size: 24px;
text-align: center;

}

/* Logo */
.logo {
    max-width: 200px;
    height: auto;
    flex: 1;
    display: flex;
  
}

.Envoi{
         margin-left:580px;
          
}
/* Boîte du formulaire */
.jpp {
    font-size: 20px;
    text-align: center;
    border: 2px solid;
    padding: 35px;
    width: 45%;
    margin: 70px auto;
    border-radius: 10px;
    background-color: #FFFFFF;
}

/* Champs TD/TP cachés par défaut */
.sous-role {
    display: none;
    margin-top: 10px;
}

/* Bouton centré */
.jpp button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.jpp button:hover {
    background-color: #0056b3;
}

/*test*/
/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.no-res {
  color: gray;
  font-style: italic;
}

